.comments-section {
    max-width: 100%;
    background-color: beige;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
    margin-top: 20px;
}

.date {
    float: right;
}