/*LAYOUT*/
.square:before {
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

/*IMAGE PART*/
.image-container {
    background-color: white;
    z-index: 6;
    opacity: 0.5;
}

img {
    max-width: 930px;
    max-height: 620px;
    height: auto;
    width: inherit;
    object-fit: cover;
    z-index: 7;
}

/*CONTENT PART*/
.text-content {
    /*background-color: #ffffb5;*/
    background-color: white;
    border-left: solid;
    border-color: #5a3921;
    border-width: 15px;
}

/*COMMENTS PART*/
.comments-bar {
    /*background-color: #f3ff93;*/
    background-color: #5a3921;
    color: white;
    margin-top: 40px;
    height: 46px;
    text-align: left;
    padding-top: 10px;
}


