.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;  /*height of the grid cell*/
}

.image-list img {
    width: 250px;
    grid-row-end: 2; /*cells occupied by and image*/
}

.image-list img:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}


.message-not-found-container {
    width: 100%;
    display: inline-block;
}

.not-found {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    color: #5a3921
}

.jumbotron {
    background-color: white !important;
}