.one {
  background: #f3ff93;
  border-left: solid;
  border-color: #5a3921;
  border-width: 15px;
}

.two {
  background: white;
}

.three {
  background: #f3ff93;
  border-left: solid;
  border-color: #5a3921;
  border-width: 15px;
}

.square:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.detail-page {
  background: white;
  padding-top: 40px;
  padding-bottom: 20px;
}

 .box{
        width: 40%;
        height: 10%;
        position: absolute;
        top: 0;
        left: 0;
    }

.stack-top{
        z-index: 9;
        margin: 20px; /* for demo purpose  */
        background: #5a3921;
    }
