.main {
    font-family: 'Montserrat', sans-serif;
}

.page-content-container {
    width: 100%;
    position: absolute;
    top: 100px;
}

.brown-btn {
    background-color: #5a3921;
    color: white;
}

.brown-btn:hover {
    color: white;
    text-decoration: underline;
}

.yellow-bgr {
    background-color: #ffffb5;
}

.full-page {
    height: 86vh;
    overflow: hidden;
    position: relative;
}
