/*browns to test  44000d   560d0d  */
/*bg colors to test  ffffb5  f1d6ab #f3ff93*/


.navbar {
    background-color: #5a3921;
    font-family: 'Montserrat', sans-serif;
}

a, h3 {
    color: white !important;
}

a:hover {
    text-decoration-color: white !important;
    text-decoration: underline !important;
}