asgiref==3.2.3
cffi==1.14.0
coverage==5.0.4
cryptography==2.9.2
Django==3.0.7
django-crispy-forms==1.8.1
django-rest-knox==4.1.0
djangorestframework==3.11.0
Pillow==9.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycparser==2.20
python-dotenv==0.11.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
