{% extends "blog/base.html" %}

{% block content %}
    <h1>No longer then</h1>
    {% for post in posts %}

        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.image.url }}">
            <div class="media-body">
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>

    {% endfor %}
{% endblock %}